* {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: bold;
}

.spin-ctn {
  position: relative;
}
.wheel {
  display: block;
  width: 250px;
  margin: 30px auto;
}

.pointer {
  position: absolute;
  top: -10%;
  left: 50%;
  width: 50px;
  transform: translate(-50%);
  z-index: 999;
}

.spin-btn {
  display: flex;
  justify-content: center;
  z-index: 999;
}

div a.tbbtn {
  width: 100%;
  text-align: center;
}

div a.magenta {
  color: white !important;
  background-color: #ff0090 !important;
}

div a.turqoise {
  color: white !important;
  background-color: rgb(81, 158, 138) !important;
}

div a.navy {
  color: white !important;
  background-color: #000080 !important;
}

#outer-container {
  background-color: bisque;
}

#title-box {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#title-text {
  font-size: 30px;
  font-family: "Quicksand", sans-serif;
}

#result {
  margin-bottom: 8px;
}
