.tableContainer {
  margin-top: 5px;
}
.resultText {
  font-size: 19;
  font-weight: bold;
  color: black;
  padding: 5px;
}
.resultDescriptionText {
  font-size: 19;
  color: black;
  margin-bottom: 10px;
}

.resultsctn {
  margin-top: 15px;
  margin-bottom: 50px;
  height: 50px;
  width: 100;
  text-align: center;
  padding: 10px 0;
  line-height: 120%;
}
